 @import '../varibles.styl'

 .container {
     display flex
     position absolute
     left 0
     right 0
     bottom 0
     top 0
     // 左侧菜单
     .el-aside {
         width auto !important
         height 100%
         >div{
             height 100%
             .el-menu--collapse {
                width: 46px;
                min-height: 400px;
             }
             .el-menu {
                 height 100%
                 .el-submenu .el-menu-item {
                     min-width auto
                 }
             }
         }
     }
     .el-submenu__icon-arrow {
        position static
        margin-top 0
        margin-left 5px
     }
     // 右侧内容
     .content {
         flex auto
         .el-header {
             .wrapper {
                display flex
                align-items center
                justify-content space-between
                height 60px
                border-bottom 1px solid #e6e6e6
                .el-icon-s-fold {
                    cursor pointer
                }
                .settings {
                    display flex
                    justify-content flex-end
                    align-items center
                    .username {
                        font-size 14px
                    }
                }
             }
         }
     }
 }