 @import '../varibles.styl'

body {
    background-color #2d3a4b
    .loginForm {
        width 300px
        margin 250px auto
        .loginTitle {
            color #e8e4e4
            margin-bottom 50px
            .el-form-item__content {
                font-size 32px
                font-weight bold
            }
        }
        .el-input__inner {
            background transparent
            color $color-white
            border 1px solid #6f7f94
        }
        .el-button {
            width 100%
        }
    }
}